/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'WebSymbolsLigaRegular';
  src: url "fonts/websymbolsliga.eot";
  src: url "fonts/websymbolsliga.eot # iefix?" format "embedded-opentype", url "fonts/websymbolsliga.woff" format "woff", url "fonts/websymbolsliga.ttf" format "TrueType", url "fonts/websymbolsliga.svg # WebSymbolsRegular" format "svg";
}

/* line 24, ../sass/style.scss */
body,
textarea,
input {
  font-family: 'Helvetica Neue';
  font-size: 24px;
  font-weight: 200;
}

/* line 30, ../sass/style.scss */
body {
  background-color: #f2f2f2;
  padding: 4px;
}

/* line 35, ../sass/style.scss */
h1 {
  padding: 15px;
  margin: 0 0 2px 0;
  background-color: #fff;
  overflow: hidden;
  /* @include transition(all 0.3s ease-in-out); */
  font-size: 24px;
  font-weight: 200;
  background-color: transparent;
  border: none;
}

/* line 43, ../sass/style.scss */
h1 input {
  background-color: transparent;
  border: none;
}

/* line 48, ../sass/style.scss */
textarea {
  width: 300px;
  height: 30px;
  font-size: 24px;
  /*	padding: 10px;*/
  border: none;
  display: block;
  float: left;
}

/* line 59, ../sass/style.scss */
ul,
ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 65, ../sass/style.scss */
.panel {
  padding: 15px;
  margin: 0 0 2px 0;
  background-color: #fff;
  overflow: hidden;
  /* @include transition(all 0.3s ease-in-out); */
}

/* line 69, ../sass/style.scss */
.panel .options {
  display: none;
  float: right;
}

/* line 74, ../sass/style.scss */
.panel:hover .options {
  display: inline;
}

/* line 78, ../sass/style.scss */
.panel.active {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 4px;
}

/* line 85, ../sass/style.scss */
.date {
  color: #ccc;
  font-weight: 200;
  display: none;
}

/* line 91, ../sass/style.scss */
.icon {
  font-family: 'WebSymbolsLigaRegular';
  text-rendering: optimizeLegibility;
  content: attr(data-icon);
  margin-right: 6px;
}

/* line 98, ../sass/style.scss */
.message {
  color: #fff;
  background: #000;
}
