@import "compass/reset";
@import "compass/css3";


@font-face { 
	font-family: 'WebSymbolsLigaRegular';
		src: url ('fonts/websymbolsliga.eot');
		src: url ('fonts/websymbolsliga.eot # iefix?') format ('embedded-opentype'),
			url ('fonts/websymbolsliga.woff') format ('woff'),
			url ('fonts/websymbolsliga.ttf') format ('TrueType'),
			url ('fonts/websymbolsliga.svg # WebSymbolsRegular') format ('svg');
}

@mixin panel { 
	padding: 15px; 
	margin: 0 0 2px 0; 
	background-color: #fff; 
	overflow: hidden; 
	/* @include transition(all 0.3s ease-in-out); */ 
}

body, 
textarea, 
input {
	font-family: 'Helvetica Neue';
	font-size: 24px;
	font-weight: 200;
}

body {
	background-color: #f2f2f2;
	padding: 4px;
}

h1 { 
	@include panel; 
	font-size: 24px; 
	font-weight: 200; 
	background-color: transparent; 
	border: none;
}

h1 input {
	background-color: transparent; 
	border: none;	
}

textarea { 
	width: 300px; 
	height: 30px; 
	font-size: 24px; 
	/*	padding: 10px;*/ 
	border: none; 
	display: block; 
	float: left; 
}

ul, 
ul li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.panel { 
	@include panel; 
}

.panel .options { 
	display: none; 
	float: right; 
}

.panel:hover .options { 
	display: inline; 
}

.panel.active { 
	position: absolute; 
	height: 100%; 
	width: 100%; 
	top: 4px; 
}

.date {
	color: #ccc;
	font-weight: 200;
	display: none;
}

.icon {
	font-family: 'WebSymbolsLigaRegular';
	text-rendering: optimizeLegibility;
	content: attr(data-icon);
	margin-right: 6px;
}

.message {
	color: #fff;
	background: #000;	
}

